<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- load partials file --}}
        {{> header}}

        <p>Created By : {{name}}</p>
    </div>
    
    {{!-- load partials file --}}
    {{> footer}}
</body>
</html>