<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- load partials file --}}
        {{> header}}

        {{!-- <h1>{{title}}</h1> --}}
        <p>{{helpMsg}}</p>
    </div>

    {{!-- load partials file --}}
    {{> footer}}
</body>
</html>